body {
width: 100%;
height: 100%;
	
}

.menu-principal {
width: 100%;
background-color:#016ea7;
height: 130px;
}

main {
margin: 0 auto;
width: 980px;
position: relative;
}

.logo {
padding: 20px;
}

.header-2 {
background-color:#016ea7;
width: 100%;
border-bottom: 3px solid #efefef;	
}

.menu ul li {
display:inline-block;
color:#ffffff;
margin-left: 25px;
position: relative;
top: -64px;
right:-135px;
height: 40px;	
	
}

.menu ul li:hover {
border-bottom: 2px solid #3535ca;	
}
.menu ul li a:hover {	
color: #3535ca;
}

.menu ul li a {
color:#ffffff;
text-decoration: none;
font-size: 23px;

	
}

.menu {
width: 90%;
float: left;	
}

.busca {
	width: 25%;
	float: right;
	position: relative;
	top: -130px;
	right: -215px;
}

.busca input {
background-image: url('iconebuscar.png');
background-repeat: no-repeat;
background-position: 96%;
width: 160px;	
padding: 7px;	
height: 25px;	
border: 1px solid #c1bdbd; 
}

.bannerprincipal {
	position: relative;
	width: 1px;
	top: -70;
}

.img1 {
	position:relative;
	top: 22;
}

.img2 {
	position:relative;
	top: 44;
}

.img3 {
	position:relative;
	top: 66;
}

.resorts {
	position: relative;
	right: -370;
}

.content1 {
	border: 1px solid;
    position: relative;
    width: 448;
    top: -760;
    right: -275;
    padding: 117;
	 margin-bottom: 22;
	 background-color: #ffffff;
}
.content2 {
	border: 1px solid;
    position: relative;
    width: 448;
    top: -760;
    right: -275;
    padding: 117;
	 margin-bottom: 24;
	 background-color: #ffffff;
}

.content3 {
	border: 1px solid;
    position: relative;
    width: 448;
    top: -760;
    right: -275;
    padding: 115;
	background-color: #ffffff;
}

.col-100 {
	position:relative;
	top: -1649;
	right: -722;
	border: none;
	width: 191px;
	height: 260;
	background-color:transparent;
	z-index: 9;
	font-size: 0px;
	
}
.col-101 {
	position:relative;
	top: -1367;
	right: -528;
	border: none;
	width: 191px;
	height: 260;
	background-color:transparent;
	z-index: 9;
	font-size: 0px;
	
}
.col-102 {
	position:relative;
	top: -1085;
	right: -334;
	border: none;
	width: 191px;
	height: 260;
	background-color:transparent;
	z-index: 9;
	font-size: 0px;
	
}

.footer {
	position: relative;
	top: -1922;
}

.footerfinal {
	text-align: center;
}

.linha1 {
	width: 30%;
	top: -1510;
	position:relative;
	left: -175;
	border: px solid;
    border-color: #d1d5d7;
}
 
.linha2 {
	width: 30%;
	top: -1245;
	position:relative;
	left: -175;
	border: px solid;
    border-color: #d1d5d7;
}

.linha3 {
	width: 30%;
	top: -980;
	position:relative;
	left: -175;
	border: px solid;
    border-color: #d1d5d7;
}

.titulo1 {
	position:relative;
	top: -1890;
	right: -295;
	color: black;
}
.titulo2 {
	position:relative;
	top: -1645;
	right: -295;
	color: black;
}
.titulo3 {
	position:relative;
	top: -1395;
	right: -295;
	color: black;
}

.tituloseg1 {
	position:relative;
	top: -1968;
	font-size: 22;
	right: -295;
	color: #9d9d9d
}

.tituloseg2 {
	position:relative;
	top: -1719;
	font-size: 22;
	right: -295;
	color: #9d9d9d
	
}

.tituloseg3 {
	position:relative;
	top: -1468;
	font-size: 22;
	right: -295;
	color: #9d9d9d
}

.info1 {
	position: relative;
	top: -2020;
	right: -305;
}

.info2 {
	position: relative;
	top: -1870;
	right: -300;
}

.info3 {
	position: relative;
	top: -1730;
	right: -300;
}

.col-1 {
	position: relative;
	right: 650;
	top: -100;
	cursor: pointer;
}

.col-2 {
	position: relative;
	right: 290;
	top: -160;
	cursor: pointer;
}

.col-3 {
	position: relative;
	left: 70;
	top: -207;
	cursor: pointer;
}

.col-4 {
	position: relative;
	left: 395;
	top: -270;
	cursor: pointer;
}

.baselogo {
	position: relative;
	top: -1630;
	border: 1px solid;
	background-color: white;
	width: 1366;
	padding: 100;
	font-size: 0;
}

.col-4 img:hover {
    margin-top: -45px!important;
    position: relative!important;
}	
	
.col-3 img:hover {
    margin-top: -45px!important;
    position: relative!important;
	
}

.col-2 img:hover {
    margin-top: -45px!important;
    position: relative!important;
}	

.col-1 img:hover {
    margin-top: -45px!important;
    position: relative!important;
}	

.footerfinal {
	position:relative;
	top: -1980;
}

.faleconosco {
position: relative;
top: -2400;	
float: right;
width: 275px;
height: 85px;
background-color: white;
color: black;
font-size: 40px;
padding-top: 5px;
padding-left: 25px;
padding-bottom: 50px;
font-family: Tahoma;
border-radius: 50px;
margin-right: 20px;
margin-top: 20px;
text-decoration: none;
}

.logo img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.telefone {
	position:relative;
	top: -2320;
	padding-left: 1050;
}

.email {
	position:relative;
	top: -2295;
	padding-left: 1050;
}

.local {
	position:relative;
	top: -2270;
	padding-left: 1050;
}

.redes-sociais ul li {
	position: relative;
	display: inline-block;
	float: left;
    margin: 10;
    top: -2495;
    left: 1000;
}

.texthorario {
	position: relative;
	top: -2350;
	left: 250;
}

.logofinal {
	position: relative;
	top: -2610;
	left: 525;
}